<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Update</h1>


    <form action="/updatedata" method="post" enctype="multipart/form-data">
        <input type="text" hidden name="id" value="<%=singleData.id%>">
        <input type="text" value="<%=singleData.name%>" name ='name' placeholder="Enter your name">
        <input type="text" value="<%=singleData.subject%>" name='subject' placeholder="Enter your Subject">
        <input type="text" value="<%=singleData.city%>" name='city' placeholder="Enter your city">
        <input type="file" name="image">
        <img src="/<%=singleData.image%>" alt="" width="20%">
        <input type="submit" value="Update" >
    </form>
    
</body>
</html>